.hero {
  background: #2f303a;
  padding-right: 15px;
  padding-left: 15px;
  // max-width: 767px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('./../img/hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('./../img/hero-mobile@2x.jpg');
  }

  @media screen and (min-width: 560px) {
    // max-width: 1199px;
    height: 400px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('./../img/hero-tablet.jpg');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('./../img/hero-tablet@2x.jpg');
    }
  }
  @media screen and (min-width: 960px) {
    // max-width: 1600px;
    // height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('./../img/hero-desktop.jpg');
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url('./../img/hero-desktop@2x.jpg');
    }
    @media screen and (min-width: 1200px) {
      height: 600px;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__title {
    margin: 0 auto;
    margin-bottom: 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
