.socials {
  display: flex;
  justify-content: center;

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition: 250ms all cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: #2196f3;
      color: #fff;
    }
  }
}
